@tailwind base;
@tailwind components;
@tailwind utilities;



 @import url('https://fonts.googleapis.com/css2?family=Monofett&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap');



 body {
  background-color: #d1d5db;
}








.inputcss {
  @apply w-full bg-gradient-to-l from-gray-300 border border-gray-400 rounded shadow-inner
}


.mobile {
  @apply w-60 transform text-white hover:bg-[#050708]/90 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-2xl text-center bg-black top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 absolute py-1;
}


